<!-- Additional head bits without overriding original head -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8QWHHB9LC1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8QWHHB9LC1');
</script>


<!-- Sort pages according to oder in sidebar -->
{% assign pages_list = (site.pages | sort: 'order') %}

<!-- Verification by Google Search Console -->
<meta name="google-site-verification"    content="AJ7lYrNztUws8NNz0xtRlQqp6ZWgy9cFcYaVXmEVlgs" />