<!-- load bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- socials and footer Hydejack link open in new tabs -->
<script type="text/javascript">
  var len =  document.getElementsByClassName("no-mark-external").length;
  for (var i = 0 ; i < len; i++) {
    document.getElementsByClassName("no-mark-external")[i].setAttribute("target","_blank");
  }
</script>

<script defer type="text/javascript">
  // var spy;
  // var isHome = false;
  document.getElementById('_pushState').addEventListener('hy-push-state-load', function() {
    document.getElementsByClassName("external")[0].setAttribute("target", "_blank");
    // if (document.getElementsByClassName("home-element").length == 1){
    //   document.getElementById("_drawer--opened").closest("ul").setAttribute("id","my-awesome-nav");
    //   spy = new Gumshoe('#my-awesome-nav a');
    //   isHome = true;
    // }
  });
</script>
